.list-wrapper {
  margin: 10px;
}

.button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.message {
  margin-top: 5px;
  text-align: center;
}

.button-group {
  text-align: justify;
}

.grid-container {
  margin-top: 10px;
  margin-inline: auto;
  width: 85%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.no-auctions-message {
  text-align: center;
}

@media (max-width: 1000px) {
  .grid-container {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
  }
}
