.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.details {
  display: flex;
}

.title {
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  background: var(--primary);
}

.description {
  margin-left: 10px;
  margin-right: 10px;
}

.photo {
  // background: url("https://slp-statics.astockcdn.net/static_assets/staging/22spring/homepage/featured-contributors/card-5.jpg?width=580");
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1;
  width: 50%;
  height: auto;
  border-radius: 0px 0px 10px 10px;
}
