.layout-container {
  margin-inline: auto;
  width: 80vw;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin-top: 10px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  //   margin-top: 100px;
  //   margin-bottom: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 8/5;
  width: 500px;
  border-radius: 5px 5px 5px 5px;

  box-shadow: 3px 2px 6px -1px rgba(128, 128, 128, 0.7);
  -webkit-box-shadow: 3px 2px 6px -1px rgba(128, 128, 128, 0.7);
  -moz-box-shadow: 3px 2px 6px -1px rgba(128, 128, 128, 0.7);
}

.price-container {
  display: flex;
}

.price {
  color: var(--primary);
  font-weight: 500;
  font-size: 50px;
}

.title {
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
}

.all-photos-message {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

.seller-info-container {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seller {
  display: inline;
  &:hover {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
  }
}

.seller-profile-picture {
  display: block;
  border: 1px solid gray;
  border-radius: 50%;
  margin: 10px 10px 10px 10px;
  //   background: url("https://image.shutterstock.com/image-photo/attractive-african-young-confident-businesswoman-260nw-1712082700.jpg");
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1;
  width: 50px;
  height: 50px;
}

.description {
  padding: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.image-icon {
  color: var(--primary);
  margin-inline: auto;
  font-size: 50px;
}

.input {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 5px;
  width: 400px;
  margin-right: 10px;
  margin-bottom: 5px;

  &:focus:active {
    border: 1px solid var(--primary) !important;
  }

  &:focus-visible {
    border: 1px solid var(--primary) !important;
    outline: none !important;
  }
}

.info {
  padding: 16px;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.input-group {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .layout-container {
    width: auto;
    border: none;
  }

  .price {
    font-size: 34px;
  }

  .seller-info-container {
    width: auto;
    max-width: none;
  }

  .input {
    width: 100%;
  }

  .image-container {
    height: auto;
    width: 300px;
  }

  .input-group {
    flex-direction: column;
  }
}
