.custom-button {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: var(--primary-hover) !important;
  }

  &:disabled {
    background-color: var(--gray) !important;
  }
}
