.upper-div {
  margin-left: 100px;
  display: flex;
  margin-bottom: 30px;
}

.horizontal-line {
  width: 80%;
  color: gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.profile-pic {
  border: 1px solid gray;
  border-radius: 50%;
  margin: 10px 10px 10px 100px;
  //   background: url("https://image.shutterstock.com/image-photo/attractive-african-young-confident-businesswoman-260nw-1712082700.jpg");
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1;
  width: 200px;
  height: 200px;
}

.user-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.first-row {
  display: flex;
  height: 50px;
  align-items: center;
}

.username {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 30px;
}

.initials {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.numbers {
  display: flex;
}

.name {
  margin-left: 10px;
}

.bio {
  max-height: 100px;
  margin-left: 10px;
  max-width: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.spinner {
  display: flex;
  justify-content: center;
}

.tab-container {
  display: flex;
  justify-content: center;
}

.items-container {
  margin-top: 10px;
  margin-inline: auto;
  width: 85%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 20px;
}

.item-spinner {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

@media (max-width: 900px) {
  .upper-div {
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .profile-pic {
    margin: 40px 10px 10px 20px;
    width: 70px;
    height: 70px;
  }

  .upper-div {
    margin-left: 0px;
  }

  .horizontal-line {
    width: 100%;
  }

  .initials {
    font-size: 30px;
  }
}
