.heading {
  margin-top: 20px;
  font-size: 20px;
}

.reset-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.close-button {
  position: absolute;
  bottom: 20px;
  right: 92px;
}

.price-range {
  margin-top: 20px;
}
