@import "./../../../styles/_colors.scss";

.wrapper {
  height: 80vh;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  color: white;
}

.paragraph {
  margin-left: 20vw;
  margin-right: 20vw;
}

.button {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: rgb(216, 216, 216);
  }

  &:disabled {
    background-color: var(--gray) !important;
  }
}
