.container {
  border-bottom: 1px solid #d3d3d3;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: transparent;
}

.logout-btn {
  cursor: pointer;
}

.icon {
  margin-right: 10px;
}

.nav-buttons {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover > i {
    color: var(--primary);
  }
}
