@import "./../../../styles/_colors.scss";

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  color: $primary;
  margin-top: 20vh;
}

.waves {
  position: absolute;
  top: 86vh;
}

.paragraph {
  margin-left: 20vw;
  margin-right: 20vw;
}

.wrapper {
  margin-top: 120px;
}

@media (max-width: 991px) {
  .header {
    margin-top: 0px;
  }
}
