.alert {
  display: flex;
  align-items: center;
  background-color: var(--success);
  position: absolute;
  z-index: 10000000;
  right: 10px;
  padding: 10px;
  border-radius: 5px;
  color: white;

  animation: slideFadeIn 5s forwards;
  -webkit-animation: slideFadeIn 5s forwards;
}

.icon {
  margin-right: 10px;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  10% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
