.edit-profile-form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 5px;

  &:focus:active {
    border: 1px solid var(--primary) !important;
  }

  &:focus-visible {
    border: 1px solid var(--primary) !important;
    outline: none !important;
  }
}

.bio-input {
  @extend .input;
  height: 50px;
}

.modal-title {
  color: var(--primary);
}

.profile-pic {
  border: 1px solid gray;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline: auto;
  //   background: url("https://image.shutterstock.com/image-photo/attractive-african-young-confident-businesswoman-260nw-1712082700.jpg");
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1;
  width: 200px;
  height: 200px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.buttons {
  width: fit-content;
}

.label {
  margin-top: 10px;
  background-color: var(--primary) !important;
  padding: 5px;
  margin-inline: auto;
  border: none;
  border-radius: 4px;
  color: white;

  &:hover {
    background-color: var(--primary-hover) !important;
    cursor: pointer;
  }
}

.label-selected {
  &:hover {
    cursor: pointer;
  }
}

.upload-photo {
  display: none;
}
